#selectHolder {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 20vh;
    border: #0c0c0c 5px;
}
#timeline-container {
    margin-top: 50px;
    height: 10px;
}

#buttonHolder {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 20vh;
}
select {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.chart-area {
    width: 100% !important;
}
canvas {
    position: absolute;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 10px;
}
.dot {
    fill: steelblue;
    stroke: steelblue;
}
.dot:hover {
    fill: red;
    stroke: red;
}
#emotion-bar {
    width: 100%; /* Fixed width for the bar */
    height: 20px;
    display: block;
}
.emotion-segment {
    height: 100%;
    flex-grow: 1;
    display: inline-block;
    transition: width 0.5s; /* Add a transition for smoother animation */
}

#happy-segment {
    background-color: green;
}

#neutral-segment {
    background-color: yellow;
}

#sad-segment {
    background-color: red;
}

.data-rectangle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: steelblue;
    color: white;
    text-align: center;
    line-height: 30px; /* Match the height of the container */
    margin: 20px 1px 1px;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    vertical-align: middle; /* Align text vertically in the middle */
}
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    display: block;
}
.emotion-bar {
    width: 100%;
    display: flex;
}
.emotion-result-segement {
    height: 20px;
}
.emotion-bar-detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#data-container {
    height: 200px;
}
.info-display {
    height: 50px;
    width: 150px;
    overflow: hidden;
    transition: height 0.3s, background-color 0.3s;
    background-color: initial;
    text-align: center; /* Center the text horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Add rounded corners */
}
.happy {
    background-color: blue;
    color: white;
}
.sad {
    background-color: violet;
    color: white;
}
.angry {
    background-color: red;
    color: white;
}
.disgusted {
    background-color: orange;
    color: white;
}
.surprised {
    background-color: yellow;
    color: black;
}
.fearful {
    background-color: green;
    color: white;
}
.neutral {
    background-color: lightgrey;
    color: white;
}